<div class="small-12 columns">

<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%=f.hidden_field :long%>
 <%=f.hidden_field :lat %>

  <div class="small-12 large-5 columns">
    <%= f.text_field :radius, placeholder: 'Max Distance From Me (miles)'%>
  </div>
  <div class="small-12 large-5 columns">
    <%= f.text_field :rating, placeholder: 'Minimum Yelp Rating' %>
  </div>
  <div class="large-2 columns hide-for-small">
    <%= f.submit "Let's Roll", class: 'small button' %>
  </div>

  <div class="show-for-small small-12 columns">
    <%= f.submit "Let's Roll", class: 'expand button' %>
  </div>

<% end %>

<div class="small-12 columns">
<div id="result"></div>
<div class="static-map" id="map"></div>
</div>
</div>




