<div class="small-12 large-6 columns">

<div id="result"></div>

<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%=f.hidden_field :long%>
 <%=f.hidden_field :lat %>

  <div class="field">
    <%= f.label 'Max Distance From Me (miles)'%><br>
    <%= f.text_field :radius %>
  </div>
  <div class="field">
    <%= f.label 'Yelp Rating' %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit "Let's Roll", class: 'small button' %>
  </div>
  <%=image_tag('yelp.png')%>
<% end %>
</div>

<div class="small-12 large-6 columns">
<div style="height:500px;width:100%" id="map"></div>
</div>
