<div class="small-12 columns" id="business-details" >
	<div class="small-12 large-3 large-offset-1 columns">
		<div class="pic">
		<%=image_tag(@image)%>
		</div>
	</div>

	<div class="small-12 large-7 large-offset-1 columns">
	<h2><%= @name %></h2>
	<h5><%= @address %></h5>
	<h5><%= @city %></h5>
	<h5><%=link_to("View yelp page", @url)%></h5>
	
	<%=image_tag('yelp.png')%>

	</div>
</div>


<form>
<input type="hidden" id="business_long"value="<%=@longitude%>">
<input type="hidden" id="business_lat"value="<%=@latitude%>">
</form>
</div>
