
<h2><%= @name %></h2>
<h5><%= @address %></h5>
<h5><%= @city %></h5>
<h5><%=link_to(@url)%></h5>


<form>
<input type="hidden" id="business_long"value="<%=@longitude%>">
<input type="hidden" id="business_lat"value="<%=@latitude%>">
</form>
