<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= content_for?(:title) ? yield(:title) : "Lunch Roulette" %></title>
<%=favicon_link_tag(source='favicon.ico') %>
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>

<body>
<div class="off-canvas-wrap" data-offcanvas>
	<div class="inner-wrap">
		<!-- off-canvas -->
		<aside class="left-off-canvas-menu">
			<p>Coded up by:</br>
			Jerry Chai</br>
			Dean Solecki</p>
			</br>
			<a href="https://github.com/jchai002/lunch-roulette">Check out on Github</a>
		</aside>
		<nav class="tab-bar" data-topbar>
			<section class="left">
				<h1><a href="#">Lunch Roulette</a></h1>
			</section>
			<section class="right">
				<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
			</section>
		</nav>

		<!-- main content -->
		<div class="content row">
			<%= yield %>
			<a class="exit-off-canvas"></a>
		</div>
	</div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</body>
</html>
