<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row title-bar">
      <div class="small-12 small-centered columns">
        <h1>Lunch Roulette</h1>
        <p>Let the fates decide.</p>
      </div>
    </div>

    <div class="row">
    <%= yield %>
    </div>

    <div class="row footer-bar">
      <div class="small-12 small-centered columns">
        <h2>Lunch Roulette</h2>
        <h4>About</h4>
        <h4>Contact</h4>
        <h4>Github</h4>
      </div>
    </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0ANj-_Y97WTsypYl0KW0H4Jia784RfY8&libraries=places"
type="text/javascript"></script>
  </body>
</html>
