<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="title-bar">
      <div class="small-12 small-centered columns">
        <h1>Lunch Roulette</h1>
        <p>Let the fates decide.</p>
      </div>
    </div>

    <div class="content row">
    <%= yield %>
    </div>

    <div class="footer-bar">
      <div class="small-12 small-centered columns">
        <h2>Lunch Roulette</h2>
        <h4><a href="https://github.com/jchai002/lunch-roulette">Github</a></h4>
      </div>
    </div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  </body>
</html>
